<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fanlar</title>
</head>
<body>
      <h1> bizdagi barcha fanlar </h1>
          <br>
          <br>
      {% for i in subject %}
      <h3> {{ i }} </h3>
            {% endfor %}
      <br>
      <br>
      <br>
      <br>
       <form method="post" action="/sub/">{% csrf_token %}
           <input type="text" placeholder="Afn nomimnin kiriting " name="n">

           <select name="spe">
               {% for speciality in specialities %}
               <option value="{{speciality.id}}"> {{speciality.name}} </option>
               {% endfor %}

           </select>

           <button type="submit"> Qo`shish </button>
       </form>

</body>
</html>