<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>
</head>
<body>
      <h1>  studentlar tahrirlang </h1>

      <br>

      <form method="post" action="/student/{{student.id}}/edit/">{% csrf_token %}
          <input type = "text" value="{{student.ism}}" name="i">
          <input type = "text" value="{{student.guruh}}" name="g">
          <input type = "text"  value="{{student.guvohnoma}}" name="gh">
          <input type = "number" value="{{student.kitoblar_soni}}" name="k_s">
          <input type = "text" value="{{student.bitiruvchi}}" name="b">

           <button type="submit"> edit </button>
      </form>
</body>
